# **BA Data | Parque Automotor de la Ciudad.**

Vamos a estructurar y *jugar* con la base de datos del registro vehicular de la Ciudad de Autónoma de Buenos Aires. El dataset pertenece al Portal de Datos Abiertos del Gobierno de la Ciudad. 

Se pueden consultar más recursos en --> https://data.buenosaires.gob.ar/

### **Importamos las librerías y obtenemos la tabla.**

In [ ]:
# Tal como vimos en la clase anterior, las herramientas de partida serán casi siempre Numpy & Pandas.

import pandas as pd
import numpy as np

A modo de prueba, en este caso vamos a trabajar con un dataset sin cargarlo localmente, sino desde la plataforma online donde se encuentra. De esta forma no estamos obligados a descargar un recurso para utilizarlo sino que lo vamos a buscar directo en donde se encuentra localizado.


*Nota 1* | Esto implica que cada vez que ese recurso sea actualizado - como en este caso se trata de un dataset de actualización mensual - cada vez que hagamos correr nuestra celda de código, traerá automáticamente la última versión cargada.

*Nota 2* | La locación del recurso se encuentra en el siguiente link --> 
https://data.buenosaires.gob.ar/dataset/parque-automotor

In [ ]:
# Variable string que vamos a utilizar como argumento a la hora de extraer nuestro dataset. 

parque_automotor = "https://cdn.buenosaires.gob.ar/datosabiertos/datasets/direccion-general-de-estadisticas-y-censos/parque-automotor/historico_parque_automotor.csv"

Ahora procedemos a leer la tabla con el método *read_csv()*.

In [ ]:
# En este caso, sabemos que se trata de un CSV por la terminacióón del hipervínculo que cargamos. 
# Le pasamos como argumento al método nuestra variable detallada anteriormente. 

# Guardamos nuestra información en una variable. 
# Por convención, solemos utilizar la palabra data a la hora de nomenclar la tabla cruda.

data = pd.read_csv(parque_automotor)

### **Primer vistazo a la** *data*.

In [ ]:
#Si escribimos el nombre de nuestra variable, vamos a observar nuestro 1° Dataframe. 
data

      año         mes          administración  cantidad_vehículos
0    2010       Enero  Ciudad de Buenos Aires           1094202.0
1    2010     Febrero  Ciudad de Buenos Aires           1106044.0
2    2010       Marzo  Ciudad de Buenos Aires           1113739.0
3    2010       Abril  Ciudad de Buenos Aires           1123774.0
4    2010        Mayo  Ciudad de Buenos Aires           1132885.0
..    ...         ...                     ...                 ...
259  2020      Agosto               Argentina                 NaN
260  2020  Septiembre               Argentina                 NaN
261  2020     Octubre               Argentina                 NaN
262  2020   Noviembre               Argentina                 NaN
263  2020   Diciembre               Argentina                 NaN

[264 rows x 4 columns]

Arriba observamos que nos imprime las *primeras 5* filas y las *últimas 5 filas* con los ejemplos de las columnas. Como en este caso son pocas columnas, vamos a obtener la totalidad de ellas al momento de imprimirlas por pantalla.


*Nota 3* | Si prestamos atención vamos a ver que ya tenemos una fila con valores nulos en una columna. *NaN* --> *Not a number*

In [ ]:
# Si queremos tener información general de la tabla, podemos consultar la cantidad de filas y columnas que tienen con el método ".shape"
data.shape

(264, 4)

El primer elemento de la *tupla* es la cantidad de filas, mientras que el segundo corresponde a la cantidad de columnas.

In [ ]:
# Lo podemos hacer más "legible".
print("La base tiene",data.shape[0],"filas")
print("La base tiene",data.shape[1],"columnas")

# Si miramos la sintaxis, vemos que para cada print imprimimos un elemento localizado por posición específica de la tupla.

La base tiene 264 filas
La base tiene 4 columnas

In [ ]:
# Podemos listas las columnas del dataframe con el método columns
data.columns.tolist()

['año', 'mes', 'administración', 'cantidad_vehículos']

In [ ]:
# El método ".head" nos permite ver los primeros n registros que le pasemos como parámetro a la lista.
# La cantidad que le pasemos como parámetros es lo que imprimirá por pantalla. 

data.head(10)

    año         mes          administración  cantidad_vehículos
0  2010       Enero  Ciudad de Buenos Aires           1094202.0
1  2010     Febrero  Ciudad de Buenos Aires           1106044.0
2  2010       Marzo  Ciudad de Buenos Aires           1113739.0
3  2010       Abril  Ciudad de Buenos Aires           1123774.0
4  2010        Mayo  Ciudad de Buenos Aires           1132885.0
5  2010       Junio  Ciudad de Buenos Aires           1142124.0
6  2010       Julio  Ciudad de Buenos Aires           1152177.0
7  2010      Agosto  Ciudad de Buenos Aires           1162110.0
8  2010  Septiembre  Ciudad de Buenos Aires           1172083.0
9  2010     Octubre  Ciudad de Buenos Aires           1183037.0

In [ ]:
#Lo mismo sucede con este método pero con los últimos elementos de la lista.

data.tail(5)

      año         mes administración  cantidad_vehículos
259  2020      Agosto      Argentina                 NaN
260  2020  Septiembre      Argentina                 NaN
261  2020     Octubre      Argentina                 NaN
262  2020   Noviembre      Argentina                 NaN
263  2020   Diciembre      Argentina                 NaN

A la hora de analizar inicialmente una tabla, hay ciertos aspectos que queremos y *debemos* saber:

- Cantidad de columnas.
- Cantidad de filas. 
- Tipo de valores por columna.
- Cantidad de valores nulos. 

Esta información resulta elemental para poder aproximarnos a una *depuración y preparación exitosa de nuestra información*.

In [ ]:
# También podemos acceder a información más integral de la tabla con el método ".info()"

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   año                 264 non-null    int64
 1   mes                 264 non-null    object
 2   administración      264 non-null    object
 3   cantidad_vehículos  252 non-null    float64
dtypes: float64(1), int64(1), object(2)
memory usage: 8.4+ KB

Con este método vamos a poder acceder a información general por columna, obteniendo su nombre, la cantidad de valores que tiene - descontando nulos - y el tipo de valor asociado.

### **La lupa en los datos.**

Queremos empezar a extraer información un poco más específica, ver qué tipo de datos tenemos, con qué frecuencia, qué valores tiene asociado.

In [ ]:
#Podemos consultar una columna filtrando de la siguiente forma
data["año"]

0      2010
1      2010
2      2010
3      2010
4      2010
       ...
259    2020
260    2020
261    2020
262    2020
263    2020
Name: año, Length: 264, dtype: int64

In [ ]:
# También podemos filtrar especificando dos columnas - o más -. 

data[["mes","año"]]

# Y así sucesivamente..

            mes   año
0         Enero  2010
1       Febrero  2010
2         Marzo  2010
3         Abril  2010
4          Mayo  2010
..          ...   ...
259      Agosto  2020
260  Septiembre  2020
261     Octubre  2020
262   Noviembre  2020
263   Diciembre  2020

[264 rows x 2 columns]

In [ ]:
#Supongamos que queremos más información, en este caso, la frecuencia de cuánto aparece cada categoría.

data["administracion"].value_counts()

KeyError: ignored

In [ ]:
# Sí, nos faltó una tilde y pinchó. 
# En este caso, utilizamos el método "value_counts()" que nos permite contabilizar la frecuencia por categoría. 
# Parece que los registros son iguales.

data["administración"].value_counts()

Argentina                 132
Ciudad de Buenos Aires    132
Name: administración, dtype: int64

In [ ]:
# Si miramos un poco los números, ya nos empiezan a indicar algo.
# En la operación anterior, nos muestra los números de la Ciudad y Argentina por igual.
# Acá, que la cantidad de años es 24, dividida por 2, 12..Una fila, una observación por período mensual, para cada administración.

data["año"].value_counts()

# La información parece estar bastante limpia.

2020    24
2019    24
2018    24
2017    24
2016    24
2015    24
2014    24
2013    24
2012    24
2011    24
2010    24
Name: año, dtype: int64

In [ ]:
# Miremos una vez más el registro de información que tenemos.

data.head(2)

    año      mes          administración  cantidad_vehículos
0  2010    Enero  Ciudad de Buenos Aires           1094202.0
1  2010  Febrero  Ciudad de Buenos Aires           1106044.0

In [ ]:
#Quiero ver las categorías de las columnas de las tablas.

for columna in data:
  print(data[columna].unique().tolist())

# Como estoy trabajando con el método "unique()" el cual me permite ver los valores únicos que tiene una columna, con los valores numéricos, no tiene mucho sentido.

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
['Ciudad de Buenos Aires', 'Argentina']
[1094202.0, 1106044.0, 1113739.0, 1123774.0, 1132885.0, 1142124.0, 1152177.0, 1162110.0, 1172083.0, 1183037.0, 1192963.0, 1203331.0, 9395122.0, 9473131.0, 9517429.0, 9574218.0, 9624870.0, 9675173.0, 9729662.0, 9786588.0, 9843488.0, 9906979.0, 9960306.0, 10014003.0, 1212025.0, 1227727.0, 1237515.0, 1247406.0, 1249089.0, 1253790.0, 1254920.0, 1256247.0, 1268274.0, 1271934.0, 1271912.0, 1275281.0, 10052466.0, 10155707.0, 10215510.0, 10275961.0, 10340890.0, 10416509.0, 10485859.0, 10562283.0, 10646440.0, 10716169.0, 10778448.0, 10815732.0, 1280523.0, 1283110.0, 1290021.0, 1294911.0, 1297425.0, 1302085.0, 1308588.0, 1308994.0, 1306801.0, 1295956.0, 1256416.0, 1323365.0, 10925332.0, 10981140.0, 11061167.0, 11119740.0, 11192226.0, 11260309.0, 11331453.0, 11401784.0, 11458876.0, 11510729.0, 11506021.0, 11626894.0, 1336083.0, 1340352.0, 1354485.0, 1353569.0, 1359665.0, 1366084.0, 1372111.0, 1377668.0, 1383457.0, 1390134.0, 1395329.0, 1398595.0, 11737809.0, 11798875.0, 11923536.0, 11944444.0, 12032139.0, 12104381.0, 12188209.0, 12266187.0, 12347197.0, 12431758.0, 12493333.0, 12539370.0, 1407799.0, 1410778.0, 1411976.0, 1413894.0, 1416946.0, 1416348.0, 1420693.0, 1419210.0, 1424973.0, 1426559.0, 1426505.0, 1424156.0, 12645458.0, 12700645.0, 12747867.0, 12796785.0, 12849203.0, 12895625.0, 12954025.0, 13004091.0, 13061961.0, 13111761.0, 13146854.0, 13171695.0, 1427721.0, 1425983.0, 1430445.0, 1426285.0, 1433127.0, 1435353.0, 1437597.0, 1438778.0, 1441777.0, 1443020.0, 1444001.0, 1439423.0, 13235691.0, 13273305.0, 13321967.0, 13365722.0, 13414538.0, 13468869.0, 13526210.0, 13580831.0, 13643691.0, 13700591.0, 13748740.0, 13773058.0, 1444729.0, 1445976.0, 1395670.0, 1451010.0, 1454620.0, 1457134.0, 1460848.0, 1463602.0, 1467397.0, 1470486.0, 1472647.0, 1468109.0, 13828470.0, 13872441.0, 13871293.0, 13979357.0, 14034319.0, 14085201.0, 14143254.0, 14211037.0, 14276847.0, 14336239.0, 14390998.0, 14419277.0, 1477276.0, 1480036.0, 1479322.0, 1486062.0, 1488954.0, 1492301.0, 1495238.0, 1498617.0, 1501117.0, 1503881.0, 1506572.0, 1506692.0, 14512469.0, 14572017.0, 14641990.0, 14704686.0, 14776762.0, 14849553.0, 14924996.0, 15006829.0, 15049675.0, 15154662.0, 15222174.0, 15264625.0, 1512568.0, 1515272.0, 1519960.0, 1524526.0, 1529132.0, 1530145.0, 1532421.0, 1535016.0, 1536298.0, 1538203.0, 1539573.0, 1539809.0, 15367777.0, 15444629.0, 15524672.0, 15597001.0, 15675004.0, 15732545.0, 15807006.0, 15865376.0, 15911770.0, 15953891.0, 15987106.0, 16010642.0, 1542986.0, 1529004.0, 1534804.0, 1543731.0, 1543117.0, 1543388.0, 1545364.0, 1545277.0, 1545332.0, 1544318.0, 1543793.0, 1544215.0, 16065648.0, 16083174.0, 16122449.0, 16163453.0, 16193186.0, 16223558.0, 16267613.0, 16304424.0, 16334125.0, 16360196.0, 16379997.0, 16391495.0, 1545709.0, 1544593.0, 1545574.0, 1544191.0, 1544747.0, 1548383.0, nan, 16434149.0, 16455272.0, 16470519.0, 16472735.0, 16489716.0, 16523616.0]

In [ ]:
# La cantidad de vehículos parecería ser una variable numérica. Por lo pronto, queremos mirar las variables categóricas para frecuencia. 

data["cantidad_vehículos"].dtypes

dtype('float64')

In [ ]:
# Quiero ver la información de las columnas, con el tipo de categorías.
# Genero un loop que itere sobre ellas, que excluya aquellas columnas con tipo numérico flotante.

for columna in data:
  if data[columna].dtypes =="float64":
    pass
  else:
    print(data[columna].unique().tolist())

[2010, 2011, 2012, 2013, 2014, 2015, 2016, 2017, 2018, 2019, 2020]
['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
['Ciudad de Buenos Aires', 'Argentina']

In [ ]:
# Ahora, supongamos que queremos excluir cualquier variable numérica.
# En ese caso podemos utilizar otra condición que excluya números de tipo entero.

for columna in data:
  if data[columna].dtypes == "float64":
    pass
  elif data[columna].dtypes == "int": 
    pass
  else:
    print(data[columna].unique().tolist())

# En este loop vemos como utilizamos los siguientes métodos ".dtypes", ".unique()", ".tolist()" y "print()" para generar un programa que nos tire variables categóricas de una tabla.

['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
['Ciudad de Buenos Aires', 'Argentina']

In [ ]:
# Seguimos agregando funciones para que sea más explicativo el output que tenemos.

for columna in data:
  if data[columna].dtypes == "float64":
    pass
  elif data[columna].dtypes == "int": 
    pass
  else:
    print(data[columna].name,data[columna].unique().tolist())

mes ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
administración ['Ciudad de Buenos Aires', 'Argentina']

In [ ]:
# Lo podemos hacer función y reutilizar.
# Atención a la correcta escritura de los parámetros (Debemos detallar los argumentos genéricamente)
# Dado que queremos ver una muestra de las categorías que tenemos, sólo le pedimos los primeros 5 elementos por columna.

def categorias(base):
  for columna in base:
    if base[columna].dtypes == "float64":
      pass
    elif base[columna].dtypes == "int": 
      pass
    else:
       print("Muestra de categorías de la columna",base[columna].name.upper(),base[columna].unique().tolist()[0:5],"\n")
       
  print("De cada columna, muestra hasta 5 categorías de la variable")

categorias(data)

Muestra de categorías de la columna MES ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo']

Muestra de categorías de la columna ADMINISTRACIÓN ['Ciudad de Buenos Aires', 'Argentina']

De cada columna, muestra hasta 5 categorías de la variable

In [ ]:
# Apartado rápido: Vamos a testear nuestra función con un nuevo dataset.

# Importamos el un nuevo csv de establecimientos educativos. 
# Esta vez vamos a utilizar un archivo ".xlsx" - mejor conocido como excel - para trabajar sobre él. 
establecimientos_educativos_excel = "http://cdn.buenosaires.gob.ar/datosabiertos/datasets/establecimientos-educativos/establecimientos-educativos.xlsx"
establecimientos = pd.read_excel(establecimientos_educativos_excel)

establecimientos_1 = pd.read_csv("http://cdn.buenosaires.gob.ar/datosabiertos/datasets/establecimientos-educativos/establecimientos-educativos.csv")

In [ ]:
# Imprimimos por pantalla el resultado y vamos a ver nuestro dataframe con datos del excel cargado. 
establecimientos[0:2]

        long  ...                                             tipest
0 -58.512702  ...               Centro Educativo de Nivel Secundario
1 -58.409572  ...  Instituto Educativo Incorporado a la Enseñanza...

[2 rows x 31 columns]

In [ ]:
# Imprimos por pantalla el resultado y vemos que son los mismos datos.
establecimientos_1[0:2]

        long  ...                                             tipest
0 -58.512702  ...               Centro Educativo de Nivel Secundario
1 -58.409572  ...  Instituto Educativo Incorporado a la Enseñanza...

[2 rows x 31 columns]

In [ ]:
# Veamos la forma de nuestra tabla alternativa
establecimientos.shape

(2828, 31)

In [ ]:
# Probamos nuestra función.
categorias(establecimientos)

Muestra de categorías de la columna DOM_EDIFIC ['Mercedes 4002', 'Constitución 3156', 'Blanco Encalada 3479', 'Avda. Gral. Las Heras 2670', 'Obrero Roberto Núñez 4355']

Muestra de categorías de la columna DOM_ESTABL ['Mercedes 4002', 'Constitución 3156', 'Blanco Encalada 3471', 'Avda. Gral. Las Heras 2670', 'Obrero Roberto Núñez 4355']

Muestra de categorías de la columna NOMBRE_ESTAB ['Centro Educativo de Nivel Secundario N° 65', 'Inst. 9 de Julio', 'Escuela Infantil N° 06/10° Madre Eufrasia Iaconis', 'Escuela Infantil N° 08/01°', 'Jardín de Infantes Nucleado C (EPCjc 11/02°)']

Muestra de categorías de la columna NOMBRE_ABREV ['CENS 65', 'I 9 de Julio', 'EI 06/10', 'EI 08/01', 'JIN C-03 (11)']

Muestra de categorías de la columna TELEFONO ['4501-9054', '4931-9299', '4545-3354', '4804-9003', '4867-2749']

Muestra de categorías de la columna EMAIL ['deaa_cens65_de1@bue.edu.ar', 'institutoprivado9dejulio@yahoo.com.ar', 'ei6_10@yahoo.com.ar', 'dei_ei8de1@bue.edu.ar / escuelainfantil8de1@gmail.com', 'dei_jinc17_de2@bue.edu.ar']

Muestra de categorías de la columna CODPOST ['C1419', 'C1254', 'C1430', 'C1425', 'C1429']

Muestra de categorías de la columna PAGINA_WEB ['http://www.buenosaires.gob.ar/educacion/estudiantes/adultos/secundaria', 'http://www.buenosaires.gob.ar/areas/educacion/gestion_privada/index.php?menu_id=19676', 'http://www.buenosaires.gob.ar/educacion/estudiantes/inicial?menu_id=9759', 'http://www.buenosaires.gob.ar/educacion/estudiantes/secundario/contacto?menu_id=18231', 'http://www.buenosaires.gob.ar/educacion/estudiantes/primario?menu_id=9760']

Muestra de categorías de la columna NIVMOD ['SecAdu', 'SecCom', 'IniCom', 'OSECom', 'PriCom']

Muestra de categorías de la columna NIVELMODAL ['Nivel Secundario de Jóvenes y Adultos', 'Nivel Secundario Común', 'Nivel Inicial Común', 'Otros Servicios Educativos de la modalidad Común', 'Nivel Primario Común']

Muestra de categorías de la columna DEPFUN ['Dir de Educación del Adulto y del Adolescente', 'Dir Gral de Educación de Gestión Privada', 'Dir de Educación Inicial', 'Dir de Educación Media', 'GO Registro de Institutos Educativos Asistenciales']

Muestra de categorías de la columna CALLE_NOMBRE ['Mercedes ', 'Constitución ', 'Blanco Encalada ', 'Avda. Gral. Las Heras ', 'Obrero Roberto Nú']

Muestra de categorías de la columna BARRIO ['VILLA DEVOTO', 'SAN CRISTOBAL', 'BELGRANO', 'RECOLETA', 'ALMAGRO']

Muestra de categorías de la columna CODIGO_POSTAL_ARGENTINO ['C1419BGJ', 'C1254ABB', 'C1430BNC', 'C1425ASQ', 'C1182AAA']

Muestra de categorías de la columna AREAPROGRA ['12 - HOSP ZUBIZARRETA', '08 - HOSP RAMOS MEJIA', '07 - HOSP PIROVANO', '04 - HOSP FERNANDEZ', '03 - HOSP DURAND']

Muestra de categorías de la columna TIPEST ['Centro Educativo de Nivel Secundario', 'Instituto Educativo Incorporado a la Enseñanza Oficial', 'Escuela Infantil', 'Jardín de Infantes Nucleado', 'Colegio']

De cada columna, muestra hasta 5 categorías de la variable

Vemos finalmente que sólo nos da muestras de las variables categóricas, las cuales almacena en listas con los elementos en formato *string*

*Nota 5* | La forma en que la función pudo trabajar correctamente fue a partir de darle un marco genérico a los elementos.

In [ ]:
# Ejemplo de la función escrita incorrectamente - no modificada -. 

# Esta fue mi loop original. 
for columna in data:
    if data[columna].dtypes == "float64":
      pass
    elif data[columna].dtypes == "int": 
      pass
    else:
      print(data[columna].name,data[columna].unique().tolist())

mes ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
administración ['Ciudad de Buenos Aires', 'Argentina']

In [ ]:
# Para paquetizar la función, tengo que definirla y pasarle el parámetro.
# La defino, y le digo que "base" es el argumento con el cual va a trabajar.

def categorias_1(base):
  for columna in data:
    if data[columna].dtypes == "float64":
      pass
    elif data[columna].dtypes == "int": 
      pass
    else:
      print(data[columna].name,data[columna].unique().tolist())

# Cuando ejecuto la celda, no sucede nada dado que sóólo definí la función.

In [ ]:
# Ahora, vamos a testear nuestra función.
categorias_1(establecimientos)

#¿Qué sucedió?

mes ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre']
administración ['Ciudad de Buenos Aires', 'Argentina']

Dado que no modifique el funcionamiento interno de la función definida, siguió operando con la información de la tabla original - *data* - y no con la información de la base *establecimientos* que le pasamos como parámetro. Para evitar esta situación, al momento de definir una función debemos escribir correctamente los argumentos en el cuerpo de nuestro código. 

En este caso, reemplazar *data* por *base* para que realice exactamente las mismas operacione sobre el dataframe que le pasemos como argumento.

--

Ahora queremos avanzar un poco más en las variables nominales y sus categorías captando la frecuencia de aparición en la tabla.

Nuevamente, podemos copiar parte nuestro código anterior y la lógica condicional construida para aplicarla.

In [ ]:
for columna in data:
  if data[columna].dtypes =="float64":
    continue
  else:
    print("\n","Columna:",data[columna].name.upper(),"\n",data[columna].value_counts())
    
# Utilizamos nuevos métodos para emprolijar nuestro output. (".upper()",".value_counts()")

 Columna: AÑO
 2020    24
2019    24
2018    24
2017    24
2016    24
2015    24
2014    24
2013    24
2012    24
2011    24
2010    24
Name: año, dtype: int64

 Columna: MES
 Octubre       22
Noviembre     22
Marzo         22
Julio         22
Abril         22
Junio         22
Septiembre    22
Febrero       22
Enero         22
Agosto        22
Mayo          22
Diciembre     22
Name: mes, dtype: int64

 Columna: ADMINISTRACIÓN
 Argentina                 132
Ciudad de Buenos Aires    132
Name: administración, dtype: int64

In [ ]:
# Paquetizamos nuestro código para reutilizarlo en una función.

def frecuencia_categorias(base):
  for columna in base:
    if base[columna].dtypes =="float64":
      continue
    elif base[columna].dtypes =="int":
      continue
    else:
      print("\n","Columna:",base[columna].name.upper(),"\n",base[columna].value_counts())

In [ ]:
#Testeamos nuestra función con la tabla de educativos. 

frecuencia_categorias(establecimientos)

 Columna: DOM_EDIFIC
 Rondeau 2751                12
Rio Cuarto y Montesquieu    10
Avda. Entre Ríos 757         7
Corrales 3420 / 3450         7
Martínez Castro 3061         7
                            ..
Avda. Tilcara 3178           1
Avda. Nazca 750              1
Olaya 1565                   1
Moldes 1854                  1
Cullen 5193                  1
Name: dom_edific, Length: 1866, dtype: int64

 Columna: DOM_ESTABL
 Rio Cuarto y Montesquieu - Avda. Gral. Iriarte alt. 3501    10
Cátulo Castillo 2750                                         8
Avda. Entre Ríos 757                                         7
San Nicolás 588                                              6
Saraza 470                                                   5
                                                            ..
Darregueyra 2369                                             1
Avda. Asamblea 153                                           1
Pujol 644                                                    1
Avda. Gral. Fernández de la Cruz 5430                        1
Pergamino 2882                                               1
Name: dom_establ, Length: 1999, dtype: int64

 Columna: NOMBRE_ESTAB
 Centro de Formación Profesional N° 10 Raúl Scalabrini Ortiz (anexo) - SEC    6
Centro de Formación Profesional N° 19 (a)                                    6
Inst. María Auxiliadora                                                      5
Inst. Ntra. Sra. de la Misericordia                                          5
Inst. San José                                                               4
                                                                            ..
Esc. Primaria Común N° 08 Judith y Demetrio Demarchi                         1
Jardín de Infantes Nucleado B (EPCjc 02/13°)                                 1
Centro Educativo Complementario de Idiomas Extranjeros N° 18                 1
Escuela Hogar Dr. Miguel V. Loureyro                                         1
Inst. Dr. Herzl                                                              1
Name: nombre_estab, Length: 2755, dtype: int64

 Columna: NOMBRE_ABREV
 EPjc 03                                16
EPjc 11                                16
EPjc 01                                14
EPjc 23                                14
EPjc 18                                13
                                       ..
CENP 56                                 1
CAIyJ San Telmo                         1
I Ntra Sra de la Divina Providencia     1
Image Campus                            1
I JB Berthier                           1
Name: nombre_abrev, Length: 2258, dtype: int64

 Columna: TELEFONO
 4300-7915               72
4672-2684               60
4342-5685/2384INT628    36
S/D                     29
4343-5591 INT 605/7     22
                        ..
4687-1510                1
4501-2716                1
1561908366               1
4638-6213                1
4307-1210                1
Name: telefono, Length: 2131, dtype: int64

 Columna: EMAIL
 paebyt@gmail.com                           72
adu_centros@yahoo.com.ar                   57
S/D                                        51
inclusioneducativa@bue.edu.ar              27
vocacionales2010@yahoo.com.ar              24
                                           ..
stamaria568@hotmail.com                     1
esc30de9@gmail.com/dep_epc30@bue.edu.ar     1
liceo1de2@gmail.com                         1
info@iag.com.ar                             1
dei_jinc16_de17@bue.edu.ar                  1
Name: email, Length: 2316, dtype: int64

 Columna: CODPOST
 C1406    172
C1437    169
C1407    161
C1439    147
C1425    136
        ...
C1172      1
C1285      1
C1190      1
C1187      1
C1263      1
Name: codpost, Length: 268, dtype: int64

 Columna: PAGINA_WEB
 http://www.buenosaires.gob.ar/areas/educacion/gestion_privada/index.php?menu_id=19676       769
http://www.buenosaires.gob.ar/educacion/estudiantes/primario?menu_id=9760                   498
http://www.buenosaires.gob.ar/educacion/estudiantes/inicial?menu_id=9759                    404
http://www.buenosaires.gob.ar/areas/educacion/gestion_privada/riae.php?menu_id=23314        236
http://www.buenosaires.gob.ar/educacion/estudiantes/adultos/primaria?menu_id=12643          213
http://www.buenosaires.gob.ar/educacion/educacionytrabajo?menu_id=20091                     134
http://www.buenosaires.gob.ar/educacion/estudiantes/secundario/contacto?menu_id=18231       107
http://www.buenosaires.gob.ar/educacion/estudiantes/adultos/secundaria                       94
http://www.buenosaires.gob.ar/areas/educacion/dgie/clubes_infantiles.php?menu_id=31761       81
http://www.buenosaires.gob.ar/areas/educacion/niveles/art/?menu_id=9765                      55
http://www.buenosaires.gob.ar/areas/educacion/niveles/adultos/oferta.php?menu_id=12643       53
http://www.buenosaires.gob.ar/educacion/estudiantes/especial                                 51
http://www.buenosaires.gob.ar/educacion/estudiantes/secundario/tecnica                       38
http://www.buenosaires.gob.ar/educacion/estudiantes/terciario/formacion-tecnica-superior     33
http://www.buenosaires.gob.ar/areas/educacion/docentes/superior/index.php?menu_id=20596      28
S/D                                                                                          20
http://www.buenosaires.gob.ar/areas/cultura/dg_ens_art/?menu_id=334                          11
http://www.buenosaires.gob.ar/educacion/escuelademaestros                                     3
Name: pagina_web, dtype: int64

 Columna: NIVMOD
 IniCom                                                  484
PriCom                                                  459
OSECom                                                  433
IniCom - PriCom - SecCom                                259
SNUCom                                                  169
SecCom                                                  157
PriAdu - OSEAdu                                         153
SecAdu                                                  152
IniCom - PriCom                                         121
OSECom - OSEAdu                                          91
OSEAdu                                                   60
PriAdu                                                   59
SNUCom - OSEAdu                                          34
IniCom - PriCom - SecCom - SNUCom                        23
IniEsp - PriEsp                                          19
PriEsp                                                   17
SecCom - SecAdu                                          17
PriEsp - OSEEsp                                          17
IniEsp - PriEsp - OSEEsp                                 15
SNUCom - OSECom                                          12
PriAdu - SecAdu                                           9
PriCom - SecCom                                           8
SecCom - SNUCom - OSECom                                  7
SecCom - SNUCom                                           6
IniCom - PriCom - SecCom - SecAdu                         5
OSEEsp                                                    5
SecAdu - SNUCom                                           3
IniCom - PriCom - PriAdu - SecCom                         3
PriCom - SecCom - SNUCom                                  3
SecCom - OSEAdu                                           3
SecCom - SecAdu - SNUCom                                  3
IniCom - OSECom                                           3
IniCom - SNUCom                                           2
IniCom - PriCom - PriAdu                                  2
IniCom - PriCom - PriEsp - OSECom                         1
IniEsp                                                    1
IniCom - PriCom - SecCom - PriAdu - SecAdu                1
IniEsp - PriEsp - SecEsp - OSEEsp                         1
SecAdu - SNUCom - OSEAdu                                  1
IniCom - PriCom  - PriEsp - SecCom - SecEsp - SNUCom      1
IniEsp - PriEsp - SecCom                                  1
SecCom - SecAdu - SNUCom - OSECom                         1
PriEsp - SecEsp                                           1
IniEsp - PriEsp - SecAdu - OSEEsp                         1
SecCom - OSECom                                           1
IniCom - PriCom - SecCom - SecAdu - SNUCom                1
IniCom - SecCom                                           1
SecCom - OSECom - OSEAdu                                  1
SecCom - SNUCom - OSECom - OSEAdu                         1
Name: nivmod, dtype: int64

 Columna: NIVELMODAL
 Nivel Inicial Común                                                                                                                                          483
Nivel Primario Común                                                                                                                                         459
Otros Servicios Educativos de la modalidad Común                                                                                                             433
Nivel Inicial, Primario y Secundario Común                                                                                                                   259
Nivel Superior No Universitario Común                                                                                                                        169
Nivel Secundario Común                                                                                                                                       157
Nivel Primario de Jóvenes y Adultos - Otros Servicios Educativos de la modalidad de Jóvenes y Adultos                                                        153
Nivel Secundario de Jóvenes y Adultos                                                                                                                        152
Nivel Inicial y Primario Común                                                                                                                               121
Otros Servicios Educativos de las modalidades Común y de Jóvenes y Adultos                                                                                    90
Otros Servicios Educativos de la modalidad de Jóvenes y Adultos                                                                                               60
Nivel Primario de Jóvenes y Adultos                                                                                                                           59
Nivel Superior No Universitario Común - Otros Servicios Educativos de la modalidad de Jóvenes y Adultos                                                       34
Nivel Inicial, Primario, Secundario y Superior No Universitario Común                                                                                         22
Nivel Inicial y Primario Especial                                                                                                                             19
Nivel Primario Especial - Otros Servicios Educativos de la modalidad Especial                                                                                 17
Nivel Primario Especial                                                                                                                                       17
Nivel Secundario Común - Nivel Secundario de Jóvenes y Adultos                                                                                                16
Nivel Inicial y Primario Especial - Otros Servicios Educativos de la modalidad Especial                                                                       15
Nivel Superior No Universitario Común - Otros Servicios Educativos de la modalidad Común                                                                      12
Nivel Primario y Secundario de Jóvenes y Adultos                                                                                                               9
Nivel Primario y Secundario Común                                                                                                                              8
Nivel Secundario Común - Nivel Superior No Universitario Común - Otros Servicios Educativos de la modalidad Común                                              7
Nivel Secundario y Superior No Universitario Común                                                                                                             6
Otros Servicios Educativos de la modalidad Especial                                                                                                            5
Nivel Inicial, Primario y Secundario Común - Nivel Secundario de Jóvenes y Adultos                                                                             4
Nivel Inicial Común - Otros Servicios Educativos de la modalidad Común                                                                                         3
Nivel Secundario y Superior No Universitario Común - Nivel Secundario de Jóvenes y Adultos                                                                     3
Nivel Inicial, Primario y Secundario Común - Nivel Primario de Jóvenes y Adultos                                                                               3
Nivel Secundario de Jóvenes y Adultos - Nivel Superior No Universitario Común                                                                                  3
Nivel Primario, Secundario y Superior No Universitario Común                                                                                                   3
Nivel Secundario Común - Otros Servicios Educativos de la modalidad de Jóvenes y Adultos                                                                       3
Nivel Inicial y Superior No Universitario Común                                                                                                                2
Nivel Inicial y Primario Común - Nivel Primario de Jóvenes y Adultos                                                                                           2
Nivel Secundario Común - Nivel Superior No Universitario Común - Otros Servicios Educativos de las modalidadades Común y de Jóvenes y Adultos                  1
Nivel Secundario Común - Nivel Secundario de Jóvenes y Adultos - Nivel Superior No Universitario Común - Otros Servicios Educativos de la modalidad Común      1
Nivel Inicial y Secundario Común                                                                                                                               1
Nivel Inicial y Primario Especial - Nivel Secundario de Jóvenes y Adultos - Otros Servicios Educativos de la modalidad Especial                                1
Nivel Secundario de Jóvenes y Adultos - Nivel Superior No Universitario Común - Otros Servicios Educativos de la modalidad de Jóvenes y Adultos                1
Nivel Inicial, Primario, Secundario y Terciario No Universitario Común                                                                                         1
Nivel Inicial y Primario Especial - Nivel Secundario Común                                                                                                     1
Nivel Inicial y Primario Común - Nivel Primario Especial - Otros Servicios Educativos de la modalidad Común                                                    1
Nivel Inicial, Primario, Secundario  y Superior No Universitario Común - Nivel Primario y Secundario Especial                                                  1
Nivel Primario y Secundario Especial                                                                                                                           1
Nivel Secundario Común - Otros Servicios Educativos de la modalidad Común                                                                                      1
Nivel Inicial, Primario, Secundario y Superior No Universitario Común - Nivel Secundario de Jóvenes y Adultos                                                  1
Nivel Inicial, Primario y Secundario Común - Nivel Primario y Secundario de Jóvenes y Adultos                                                                  1
Nivel Inicial                                                                                                                                                  1
Nivel Secundario Común - Otros Servicios Educativos de las modalidadades Común y de Jóvenes y Adultos                                                          1
Nivel Inicial, Primario, Secundario Común - Nivel Secundario de Jóvenes y Adultos                                                                              1
Nivel Secundario Común -Nivel Secundario de Jóvenes y Adultos                                                                                                  1
Otros Servicios Educativos de la modalidad Común - Otros Servicios Educativos de la modalidad de Jóvenes y Adultos                                             1
Nivel Inicial, Primario y Secundario Especial - Otros Servicios Educativos de la modalidad Especial                                                            1
Nivel Inicial Especial                                                                                                                                         1
Name: nivelmodal, dtype: int64

 Columna: DEPFUN
 Dir Gral de Educación de Gestión Privada                        752
Dir de Educación Primaria                                       497
Dir de Educación Inicial                                        413
Dir de Educación del Adulto y del Adolescente                   357
GO Registro de Institutos Educativos Asistenciales              248
GO de Formación Laboral                                         136
Dir de Educación Media                                          106
Subsecretaría de Coordinación Pedagógica y Equidad Educativa     77
Dir de Educación Artística                                       54
Dir de Educación Especial                                        51
Dir de Educación Técnica                                         39
Dir de Formación Técnica Superior                                34
Gobierno Nacional                                                19
Dir de Formación Docente                                         16
Ministerio de Cultura                                            11
Dirección de Escuelas Normales                                    6
GO y Adminustración de Institutos de Formación Docente            6
Dirección General Escuela de Maestros                             3
Ministerio de Salud                                               2
Ministerio de Justicia y Seguridad                                1
Name: depfun, dtype: int64

 Columna: CALLE_NOMBRE
 Avda. Rivadavia             33
Villa                       30
Cnel. Ramón L. Falcón       21
Avda. San Juan              21
Juncal                      19
                            ..
Ulrico Schmidl               1
Boulogne Sur Mer             1
Panamá                       1
Martínez Castro y Pje. F     1
Gral. Enrique Martínez       1
Name: calle_nombre, Length: 766, dtype: int64

 Columna: BARRIO
 PALERMO              170
BALVANERA            161
CABALLITO            145
ALMAGRO              141
FLORES               138
VILLA LUGANO         129
RECOLETA             114
BARRACAS             105
BELGRANO             104
VILLA URQUIZA         82
VILLA SOLDATI         73
VILLA DEVOTO          72
SAN NICOLAS           68
MATADEROS             67
VILLA CRESPO          65
PARQUE PATRICIOS      62
RETIRO                61
MONTSERRAT            58
SAN CRISTOBAL         57
LINIERS               54
NUEVA POMPEYA         54
BOCA                  53
NUÑEZ                 52
FLORESTA              52
SAAVEDRA              50
COLEGIALES            47
PARQUE CHACABUCO      46
VILLA DEL PARQUE      45
CONSTITUCION          45
PARQUE AVELLANEDA     44
MONTE CASTRO          36
SAN TELMO             36
CHACARITA             35
VILLA GRAL. MITRE     35
BOEDO                 33

### **Filtrando y modificando tablas.**

A fin de poder trabajar con información un poco más específica, vamos a filtrar y generar nuevas tablas basadas en nuestra tabla original.

In [ ]:
#Filtramos para ver qué tipo de administración tenemos.
data["administración"].unique()

array(['Ciudad de Buenos Aires', 'Argentina'], dtype=object)

Como queremos trabajar solamente con datos de la Ciudad, sólo vamos a filtrar por columna de la Ciudad.

In [ ]:
#Generamos una nueva variable, en la cual filtramos los datos condicionales de la Columna con el valorde la Ciudad.
data_caba = data[data["administración"]=="Ciudad de Buenos Aires"]

#Imprimimos para ver nuestra data.
data_caba

      año         mes          administración  cantidad_vehículos
0    2010       Enero  Ciudad de Buenos Aires           1094202.0
1    2010     Febrero  Ciudad de Buenos Aires           1106044.0
2    2010       Marzo  Ciudad de Buenos Aires           1113739.0
3    2010       Abril  Ciudad de Buenos Aires           1123774.0
4    2010        Mayo  Ciudad de Buenos Aires           1132885.0
..    ...         ...                     ...                 ...
247  2020      Agosto  Ciudad de Buenos Aires                 NaN
248  2020  Septiembre  Ciudad de Buenos Aires                 NaN
249  2020     Octubre  Ciudad de Buenos Aires                 NaN
250  2020   Noviembre  Ciudad de Buenos Aires                 NaN
251  2020   Diciembre  Ciudad de Buenos Aires                 NaN

[132 rows x 4 columns]

In [ ]:
#Utilizamos nuestra función para ver 

categorias(data_caba)

Muestra de categorías de la columna MES ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo']

Muestra de categorías de la columna ADMINISTRACIÓN ['Ciudad de Buenos Aires']

De cada columna, muestra hasta 5 categorías de la variable

In [ ]:
# Miremos la tabla filtrada que nos quedó nuevamente. 
# Si observamos, se sigue manteniendo el índice inicial. Podemos resetearlo para que quede prolijo.

data_caba[10:15]

     año        mes          administración  cantidad_vehículos
10  2010  Noviembre  Ciudad de Buenos Aires           1192963.0
11  2010  Diciembre  Ciudad de Buenos Aires           1203331.0
24  2011      Enero  Ciudad de Buenos Aires           1212025.0
25  2011    Febrero  Ciudad de Buenos Aires           1227727.0
26  2011      Marzo  Ciudad de Buenos Aires           1237515.0

In [ ]:
# Utilizamos el método ".reset_index()" con  el argumento "True" en el parámetro "Inplace=" para que lo haga en la tabla original.
data_caba.reset_index(inplace=True)

#Borramos una columna de index que nos quedará suelta por ahí
data_caba.drop(columns="index",inplace=True)

data_caba

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4169: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

      año         mes          administración  cantidad_vehículos
0    2010       Enero  Ciudad de Buenos Aires           1094202.0
1    2010     Febrero  Ciudad de Buenos Aires           1106044.0
2    2010       Marzo  Ciudad de Buenos Aires           1113739.0
3    2010       Abril  Ciudad de Buenos Aires           1123774.0
4    2010        Mayo  Ciudad de Buenos Aires           1132885.0
..    ...         ...                     ...                 ...
127  2020      Agosto  Ciudad de Buenos Aires                 NaN
128  2020  Septiembre  Ciudad de Buenos Aires                 NaN
129  2020     Octubre  Ciudad de Buenos Aires                 NaN
130  2020   Noviembre  Ciudad de Buenos Aires                 NaN
131  2020   Diciembre  Ciudad de Buenos Aires                 NaN

[132 rows x 4 columns]

In [ ]:
# Como en este caso tuvimos valores nulos, decidimos sacarlos de la escena porque no nos aportaban información.
data_caba.dropna(inplace=True)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [ ]:
data_caba

      año      mes          administración  cantidad_vehículos
0    2010    Enero  Ciudad de Buenos Aires           1094202.0
1    2010  Febrero  Ciudad de Buenos Aires           1106044.0
2    2010    Marzo  Ciudad de Buenos Aires           1113739.0
3    2010    Abril  Ciudad de Buenos Aires           1123774.0
4    2010     Mayo  Ciudad de Buenos Aires           1132885.0
..    ...      ...                     ...                 ...
121  2020  Febrero  Ciudad de Buenos Aires           1544593.0
122  2020    Marzo  Ciudad de Buenos Aires           1545574.0
123  2020    Abril  Ciudad de Buenos Aires           1544191.0
124  2020     Mayo  Ciudad de Buenos Aires           1544747.0
125  2020    Junio  Ciudad de Buenos Aires           1548383.0

[126 rows x 4 columns]

In [ ]:
# Ahora queremos modificar un valor, dado que nos queda muy largo "Ciudad Autónoma de Buenos Aires"
# Utilizamos la función "replace" para modificar un valor específico. Nuevamente usamos el parámetro "inplace" para pedirle que lo haga sobre la tabla original.
 
data_caba.replace(to_replace="Ciudad de Buenos Aires",
                  value="CABA",
                  inplace=True)

data_caba

/usr/local/lib/python3.6/dist-packages/pandas/core/frame.py:4384: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

      año      mes administración  cantidad_vehículos
0    2010    Enero           CABA           1094202.0
1    2010  Febrero           CABA           1106044.0
2    2010    Marzo           CABA           1113739.0
3    2010    Abril           CABA           1123774.0
4    2010     Mayo           CABA           1132885.0
..    ...      ...            ...                 ...
121  2020  Febrero           CABA           1544593.0
122  2020    Marzo           CABA           1545574.0
123  2020    Abril           CABA           1544191.0
124  2020     Mayo           CABA           1544747.0
125  2020    Junio           CABA           1548383.0

[126 rows x 4 columns]

In [ ]:
#Por último, vemos que los números están en formato float, cuando en realidad son números absolutos.
data_caba["cantidad_vehículos"].dtypes

dtype('float64')

In [ ]:
# Cambiamos el tipo de de dato numérico de la columna específica con el método ".astype" y como argumento el tipo de dato que queremos 
data_caba["cantidad_vehículos"] = data_caba["cantidad_vehículos"].astype(int)

data_caba[0:5]

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

    año      mes administración  cantidad_vehículos
0  2010    Enero           CABA             1094202
1  2010  Febrero           CABA             1106044
2  2010    Marzo           CABA             1113739
3  2010    Abril           CABA             1123774
4  2010     Mayo           CABA             1132885

In [ ]:
# Ahora generamos un loop para que nos imprima por pantalla determinados valores que queremos visualizar

for i in data_caba.index:
    print("En",data_caba["año"][i],"había",data_caba["cantidad_vehículos"][i])

En 2010 había 1094202
En 2010 había 1106044
En 2010 había 1113739
En 2010 había 1123774
En 2010 había 1132885
En 2010 había 1142124
En 2010 había 1152177
En 2010 había 1162110
En 2010 había 1172083
En 2010 había 1183037
En 2010 había 1192963
En 2010 había 1203331
En 2011 había 1212025
En 2011 había 1227727
En 2011 había 1237515
En 2011 había 1247406
En 2011 había 1249089
En 2011 había 1253790
En 2011 había 1254920
En 2011 había 1256247
En 2011 había 1268274
En 2011 había 1271934
En 2011 había 1271912
En 2011 había 1275281
En 2012 había 1280523
En 2012 había 1283110
En 2012 había 1290021
En 2012 había 1294911
En 2012 había 1297425
En 2012 había 1302085
En 2012 había 1308588
En 2012 había 1308994
En 2012 había 1306801
En 2012 había 1295956
En 2012 había 1256416
En 2012 había 1323365
En 2013 había 1336083
En 2013 había 1340352
En 2013 había 1354485
En 2013 había 1353569
En 2013 había 1359665
En 2013 había 1366084
En 2013 había 1372111
En 2013 había 1377668
En 2013 había 1383457
En 2013 había 1390134
En 2013 había 1395329
En 2013 había 1398595
En 2014 había 1407799
En 2014 había 1410778
En 2014 había 1411976
En 2014 había 1413894
En 2014 había 1416946
En 2014 había 1416348
En 2014 había 1420693
En 2014 había 1419210
En 2014 había 1424973
En 2014 había 1426559
En 2014 había 1426505
En 2014 había 1424156
En 2015 había 1427721
En 2015 había 1425983
En 2015 había 1430445
En 2015 había 1426285
En 2015 había 1433127
En 2015 había 1435353
En 2015 había 1437597
En 2015 había 1438778
En 2015 había 1441777
En 2015 había 1443020
En 2015 había 1444001
En 2015 había 1439423
En 2016 había 1444729
En 2016 había 1445976
En 2016 había 1395670
En 2016 había 1451010
En 2016 había 1454620
En 2016 había 1457134
En 2016 había 1460848
En 2016 había 1463602
En 2016 había 1467397
En 2016 había 1470486
En 2016 había 1472647
En 2016 había 1468109
En 2017 había 1477276
En 2017 había 1480036
En 2017 había 1479322
En 2017 había 1486062
En 2017 había 1488954
En 2017 había 1492301
En 2017 había 1495238
En 2017 había 1498617
En 2017 había 1501117
En 2017 había 1503881
En 2017 había 1506572
En 2017 había 1506692
En 2018 había 1512568
En 2018 había 1515272
En 2018 había 1519960
En 2018 había 1524526
En 2018 había 1529132
En 2018 había 1530145
En 2018 había 1532421
En 2018 había 1535016
En 2018 había 1536298
En 2018 había 1538203
En 2018 había 1539573
En 2018 había 1539809
En 2019 había 1542986
En 2019 había 1529004
En 2019 había 1534804
En 2019 había 1543731
En 2019 había 1543117
En 2019 había 1543388
En 2019 había 1545364
En 2019 había 1545277
En 2019 había 1545332
En 2019 había 1544318
En 2019 había 1543793
En 2019 había 1544215
En 2020 había 1545709
En 2020 había 1544593
En 2020 había 1545574
En 2020 había 1544191
En 2020 había 1544747
En 2020 había 1548383

Sin embargo, vemos en el loop que nos genera información repetida mes a mes que nos nos interesa evaluar. Buscamos quedaron solamente con información de dos meses (*enero y diciembre*).

In [ ]:
#Creamos dos tablas de acuerdo a referencias mensuales.

# Generamos una tabla con valores filtrados de enero.
data_caba_enero = data_caba[data_caba["mes"]=="Enero"]
data_caba_enero

# Generamos otra tabla con valor filtrados de diciembre. 
data_caba_diciembre = data_caba[data_caba["mes"]=="Diciembre"]
#data_caba_diciembre

In [ ]:
# Generamos una nueva tabla sólo con estos valores unificadas.
data_caba_eyd = pd.concat([data_caba_enero,data_caba_diciembre],
                          axis=0).reset_index()

# Borramos la columna de index que nos queda colgada.
data_caba_eyd.drop(columns="index",inplace=True)

In [ ]:
data_caba_eyd.shape

(21, 4)

In [ ]:
# Por último usemos un método para mejorar nuestro formato de impresión por pantalla.

for i in data_caba_diciembre.index:
  print(("En {} de {} en CABA había un registro de {} autos").format(data_caba_diciembre["mes"][i],data_caba_diciembre["año"][i],data_caba_diciembre["cantidad_vehículos"][i]))

En Diciembre de 2010 en CABA había un registro de 1203331 autos
En Diciembre de 2011 en CABA había un registro de 1275281 autos
En Diciembre de 2012 en CABA había un registro de 1323365 autos
En Diciembre de 2013 en CABA había un registro de 1398595 autos
En Diciembre de 2014 en CABA había un registro de 1424156 autos
En Diciembre de 2015 en CABA había un registro de 1439423 autos
En Diciembre de 2016 en CABA había un registro de 1468109 autos
En Diciembre de 2017 en CABA había un registro de 1506692 autos
En Diciembre de 2018 en CABA había un registro de 1539809 autos
En Diciembre de 2019 en CABA había un registro de 1544215 autos

El camino de código que realizamos fue a fin de poder ir probando distintas *herramientas, métodos y funciones* que podemos ir creando en la medida que vamos trabajando con una base de datos. Nuestro objetivo de hoy fue modificar algunas cosas - por momento con poca usabilidad - para que puedan observar la flexibilidad del lenguaje a la hora de trabajar.

# **Twitter | Tweets de Alberto Fernandez.**

### **Instalamos e importamos los paquetes a utilizar.**

In [ ]:
!pip install tweepy

Requirement already satisfied: tweepy in /usr/local/lib/python3.6/dist-packages (3.6.0)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.3.0)
Requirement already satisfied: requests>=2.11.1 in /usr/local/lib/python3.6/dist-packages (from tweepy) (2.23.0)
Requirement already satisfied: PySocks>=1.5.7 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.7.1)
Requirement already satisfied: six>=1.10.0 in /usr/local/lib/python3.6/dist-packages (from tweepy) (1.15.0)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.6/dist-packages (from requests-oauthlib>=0.7.0->tweepy) (3.1.0)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.6/dist-packages (from requests>=2.11.1->tweepy) (2.10)

In [ ]:
import pandas as pd 
import tweepy

### **¿Qué es una API? Seteando nuestras credenciales en Twitter.**

Es una interfaz de aplicaciones específicas que nos permite *consultar y extraer* programáticamente información del entorno.

En ese sentido, el sistema nos pide algunas condiciones de autenticación para poder extraer información, validar nuestra identidad y explicitar las razones por las cuales queremos extraer información.

En este caso, seguiremos los siguientes pasos:

1. Creamos una cuenta de TwitterDeveloper.
2. Una vez habilitada, generamos nuestra primer App de extracción.
3. Generamos dos tokens para poder utilizar a la hora de validar nuestro acceso desde la consola.


Links para crear las cuentas --> [Twitter Developer ](https://developer.twitter.com/en/dashboard)

*Nota n* | En este caso, vamos a explorar desde mi interfaz de usuario.

In [ ]:
#Seteamos las 4 variables que vamos a necesitar para levantar la API que nos permitirá operar en Twitter.
consumerKey = "K3Z9OOsk7itx5PXCvPmU1Rp8T"
consumerSecret = "1rYmibUVNHi4XjGtuT9IOxiPXcQUfs4cE5GjzBsos1e6LKpxtY"
accessToken = "575131836-WQskSYThiSHszy9ydNY3HPVJtRkZEQBWe1wyJpCP"
accesTokenSecret = "vLEv9FO4OcDkjC4U7DxN85vwYvCJj9JDvE11y1llfaHAD"

# Creamos el objeto de autenticación
authenticate = tweepy.OAuthHandler(consumerKey,consumerSecret)

# Seteamos el acceso de token de acuerdo a las variables que creamos previamente 
authenticate.set_access_token(accessToken,accesTokenSecret)

# Creamos el objeto API, el cual llamaremos cada vez que escribamos para acceder. 
api = tweepy.API(authenticate,wait_on_rate_limit=True, wait_on_rate_limit_notify=True)

### **Consulta de información de la cuenta de Alberto Fernández.**

En este caso, queremos hacer nuestra propia de base de datos de tweets de Alberto Fernandez con *Pandas y Tweepy.*

Cuenta Oficial de Alberto Fernandez --> [@alferdez](https://twitter.com/alferdez?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor)

¿Qué información nos puede interesar?

  -  Sus tweets.
  - Cantidad de seguidores.
  - La performance de sus tweets medidas por favoritos y retweets.

In [ ]:
#Usaremos nuestro primer método de la librería Tweepy, el cual le damos el nombre de usuario, y se lo asignamos a una variable como valor
user = api.get_user("alferdez")

In [ ]:
#Ahora ejecutemos un programa básico y simple con un print y un texto en función de este valor.
print("La cuenta de Alberto Fernandez es",user.screen_name)

#Acá, usé otro método denominado ".screen_name" de la librería Tweepy, el cual nos devuelve el nombre de usuario.

La cuenta de Alberto Fernandez es alferdez

In [ ]:
#Ahora, miren como con un simple programa escrito y estos dos métodos concatenados, obtengo información.
for friend in user.followers():
  print(friend.screen_name)

_RocioLuna12
AldoRancel
toniccelli
xagustinaailenx
DepetrisLourdes
Analia41891210
EstebanCohen4
Romi_detorres
MrLivertyTrump
Daiana92109919
LuzMart56182434
meliiisueldoo
Santiagogug
Gabriel03308129
AriadnaAli4
evamorena1011
MercedesLezana
Juan51634799
ezequie19266371
IrriVeron

In [ ]:
#También queremos saber cuantos seguidores tiene

def seguidores_count_single(nombre):
    user1 = api.get_user(nombre)
    print("La cuenta",user1.screen_name,"tiene",user1.followers_count,"seguidores")

In [ ]:
#Aplicamos la función que creamos, y nos queda un programa para cada vez que querramos saber esta información.
seguidores_count_single("alferdez")
seguidores_count_single("mauriciomacri")

La cuenta alferdez tiene 1915929 seguidores
La cuenta mauriciomacri tiene 5111825 seguidores

In [ ]:
#Defino una lista de usuarios sobre los cuales quiero saber información
#Miremos algunos referentes de Alberto Fernandez 

usuarios = ["alferdez",
            "SantiCafiero",
            "CasaRosada",
            "RossiAgustinOk",
            "avanoliok",
            "RCSalvarezza",
            "MariaEBielsaOk",
            "mmlosardo",
            "LEBasterra",
            "mariomeoni",
            "juancabandie",
            "martin_M_Guzman",
            "EliGAlcorta",
            "trottanico",
            "FerEspinozaOk"
            ]

In [ ]:
#Potencio mi función original para que pueda procesar mas elementos. ¿Cómo hago esto? Con un bucle.

def seguidores_count_multiple(nombres):
    for nombre in nombres:
      user1 = api.get_user(nombre)
      print("La cuenta",user1.screen_name,"tiene",user1.followers_count,"seguidores")

In [ ]:
seguidores_count_multiple(usuarios)

La cuenta alferdez tiene 1915931 seguidores
La cuenta SantiCafiero tiene 255996 seguidores
La cuenta CasaRosada tiene 832697 seguidores
La cuenta RossiAgustinOk tiene 223784 seguidores
La cuenta avanoliok tiene 42166 seguidores
La cuenta RCSalvarezza tiene 55935 seguidores
La cuenta MariaEBielsaOk tiene 46658 seguidores
La cuenta mmlosardo tiene 26600 seguidores
La cuenta LEBasterra tiene 14002 seguidores
La cuenta mariomeoni tiene 26891 seguidores
La cuenta juancabandie tiene 240957 seguidores
La cuenta Martin_M_Guzman tiene 174439 seguidores
La cuenta EliGAlcorta tiene 56674 seguidores
La cuenta trottanico tiene 123672 seguidores
La cuenta FerEspinozaOK tiene 102627 seguidores

In [ ]:
#Nos traemos los últimos 100 tweets de Alberto Fernandez
posteos = api.user_timeline(screen_name="alferdez",count=1000,lang="es",tweet_mode="extend")

In [ ]:
#Ya como sabrán, imprimo un comando para que sea legible.
print("último tweet de Alberto Fernandez: \n")


#Declaro una variable nueva para que sirva como "contador" en cada tweet 
i=1
for tweet in posteos[0:10]:
  print(str(i)+")",tweet.text,"\n")
  i=i+1

último tweet de Alberto Fernandez:

1) Somos la generación que no baja los brazos, que sigue invirtiendo, produciendo y generando trabajo. Y que en este m… https://t.co/3Q37o5JyrD

2) Junto al gobernador @QuintelaRicardo inauguramos hoy la Central Arauco II del Parque Eólico Arauco en La Rioja, que… https://t.co/UzcFO2tMU6

3) RT @CasaRosada: EN VIVO | La Rioja - El presidente Alberto Fernández firma convenios y realiza anuncios. https://t.co/womcKnO5bb

4) Fue muy grato haber participado hoy del encuentro virtual por los 15 años de la Corriente Nacional de la Militancia… https://t.co/dezop64bcD

5) Hoy me reuní con los interventores del ENRE y del ENARGAS. Analizamos la situación de las tarifas. Observamos con p… https://t.co/T3acpUcMJB

6) Esta mañana conversé por teléfono con el primer ministro de los Países Bajos, Mark Rutte (@MinPres), sobre la pande… https://t.co/lhpOqAsC8k

7) RT @JuanZabaletaOK: El @hospitalposadas volvió a ponerse de pie gracias al compromiso y al trabajo de un gran equipo de profesionales encab…

8) RT @gkatopodis: El presidente @alferdez me encomendó volver a darle a #VialidadNacional la jerarquía que nunca debió haber perdido.

Gracia…

9) RT @RossiAgustinOk: #17OctubreDesdeCasa| "Este año el peronismo cumple 75 años. Estaremos ante el acto virtual más grande de la Argentina.…

10) RT @RossiAgustinOk: La pandemia, como a todos, nos ha complicado. Pero no tengas dudas, que con el liderazgo del profesor @alferdez, los ar…

### **Creando una base de datos de tweets.**

In [ ]:
#Creamos nuestro propio dataFrame con los tweets de Alberto:
data_tweet = pd.DataFrame(data=[tweet.text for tweet in posteos],columns=["Tweets"])

In [ ]:
#Ahora, queremos ver qué construimos.
#Sólo escribiendo data, podemos ver un ejemplo de las primeras filas. 
data_tweet

                                                Tweets
0    Somos la generación que no baja los brazos, qu...
1    Junto al gobernador @QuintelaRicardo inauguram...
2    RT @CasaRosada: EN VIVO | La Rioja - El presid...
3    Fue muy grato haber participado hoy del encuen...
4    Hoy me reuní con los interventores del ENRE y ...
..                                                 ...
195  RT @alferdezprensa: 📺“Internet y la fibra ópti...
196  RT @alferdezprensa: 📺“Voy a hacer todos los es...
197  RT @alferdezprensa: 📺“Lo que nosotros pedimos ...
198  RT @alferdezprensa: 📺“Lo último que yo haría e...
199  RT @alferdezprensa: 📺“No se pueden permitir la...

[200 rows x 1 columns]

In [ ]:
#Agregamos la columna "Retweets" a "Data" bajo la siguiente forma:
data_tweet["Retweets"] = [tweet.retweet_count for tweet in posteos]

In [ ]:
#Queremos más información. Queremos la cantidad de favoritos. 
data_tweet["Favoritos"] = [tweet.favorite_count for tweet in posteos]

In [ ]:
#Por último, queremos saber un poco más de metadata del tweet. Es decir, información sobre el elemento.
#Queremos saber específicamente la fecha y horario en el cual fue publicado. 
data_tweet["Fecha"] =[tweet.created_at for tweet in posteos]

Vemos que finalmente nos quedó una tabla con información de los últimos Tweets de Alberto Fernandez lista para ser procesada y analizada. 

A fin de poder generar una tabla que reordene de acuerdo a la performance de los tweets por favoritos..

¿Qué hacemos? Tenemos una opción, que es ordenar nuestra tabla - la cual está como serie tmeporal actualmente - por cantidad de retweets.

Como no queremos arruinar la que tenemos ordenada temporalmente, generamos una nueva.

In [ ]:
#Creo una variable al cual le asigno como valor los tweets ordenados por cantidad de tweet.
#El método ".sort_values" opera sobre data ordenandola según el primer argumento que escribimos: "Retweets".
#El segundo argumento, le dice que el orden es descendente, al declarar falso al orden ascendente.

favoritos_mas_exitosos = data_tweet.sort_values("Favoritos",ascending=False)

favoritos_mas_exitosos[0:10]

                                                Tweets  ...               Fecha
42   La penalización del aborto ha fracasado como p...  ... 2020-09-28 22:43:49
163  Agradezco todas las muestras de preocupación y...  ... 2020-09-09 21:10:08
31   Se nos fue Quino, uno de los artistas más gran...  ... 2020-09-30 20:52:55
117  Hace 44 años la dictadura secuestraba y tortur...  ... 2020-09-17 00:47:21
89   Estudiando, los y las jóvenes van consolidando...  ... 2020-09-21 19:17:02
151  Agradezco a los gobernadores y las gobernadora...  ... 2020-09-10 23:24:45
173  Desde @juntoscambioar han convocado al “diálog...  ... 2020-09-08 18:58:38
139  Lo que estamos haciendo no es sembrar discordi...  ... 2020-09-11 20:16:36
120  Un país federal no es en contra de nadie: es a...  ... 2020-09-16 00:45:35
36   Mis sinceras condolencias a la familia del ins...  ... 2020-09-29 11:33:43

[10 rows x 4 columns]

In [ ]:
#Importamos los métodos que utilizaremos
from google.colab import files

#Convertimos nuestro DataFrame en un archivo .csv y especificando entre paréntesis y comillas, el nombre que le queremos poner al archivo
data_tweet.to_csv("Tweets de AF.csv")

#Escribimos el comando "files.download" para que descargue el archivo creado en nuestro disco local.
files.download("Tweets de AF.csv")

In [ ]:
#Pero también lo queremos en archivo excel.

#Convertimos nuestro DataFrame a un archivo .xlsx
data_tweet.to_excel("Tweets de AF.xlsx")

#Escribimos nuevamente el comando de descarga y le pasamos el nombre de nuestro archivo.
files.download("Tweets de AF.xlsx")

Recién buscamos explorar cómo podíamos estructurar un dataset sin tener uno, solamente conociendo y explorando las herramientas que podíamos utilizar de acuerdo al problema que teníamos. Generamos una base de datos desde 0 utilizando la *Caja de herramientas* adecuada combinandola con Pandas para poder tener finalmente nuestro CSV.