## **Ejercicios de práctica en Python.**

1- Creá una variable que sea una lista de números.

In [ ]:
#Escribí código acá.

2- A cada elemento de la lista, sumale un 2.


**Hint*: Podés usar un loop.

In [ ]:
#Escribí código acá.

3- Ahora, agregá una condición que sólo le sume un 2 si es par.

In [ ]:
#Escribí código acá.

4- Ahora agregá una segunda condición, que si no es par, lo multiplique por 3.

In [ ]:
#Escribí código acá.

5- A tu lista de números inicial, agregale un objeto nuevo que sea una *string*. 


*Hint*: método .append()

In [ ]:
#Escribí código acá.

6- Intentá ejecutar el mismo loop que creaste en el 4 con métodos numéricos.

In [ ]:
#Escribí código acá.

7- ¿Qué tipo de error tenemos?

8- Ahora agregá una excepción que ejecute por pantalla el texto *no es un número* cuando el código no pueda ejecutarse.


*Hint*: try - except.

In [ ]:
#Escribí código acá.

9- Ahora todo el código *enpaquetalo* en una función con el nombre clasificador_numérico.

*Hint*: def - no olvides hacer genérica los argumentos de la función.

In [ ]:
#Escribí código acá.

10- Por último, genera una nueva lista de objetos y testea tu función.

In [ ]:
#Escribí código acá.

11- Generá una lista de nombres en formato string.

In [ ]:
#Escribí código acá.

12- Ahora hacé un loop en donde reconozca el nombre si es masculino y/o femenino, y sólo devuelva si es femenino.

*Hint*: En su mayoría, los nombres femeninos terminan con "a", pueden hacer slicing sobre el último elemento para reconocerlo.. (hint*2: [-1])

In [ ]:
#Escribí código acá.

13- Ahora, agregarle una condición alternativa que lo imprima diciendo que es masculino.

*Hint*: elif - else

In [ ]:
#Escribí código acá.

14- Nuevamente, agregale un elemento a la lista, pero esta vez numérico entero.

In [ ]:
#Escribí código acá.

15- Agregale una excepción que imprima por pantalla el elemento.

In [ ]:
#Escribí código acá.

16- Dentro de tu excepción, agregale dos condiciones: Una que reconozca si el número es entero o decimal:

*Hint*: if - else

In [ ]:
#Escribí código acá.

17- Ahora, paquetiza la función con el nombre clasificador_nombres(), y agregale una ejecución final a tu loop de try que anuncie que el código terminó.


*Hint*: No olvides hacerla genérica.

In [ ]:
#Escribí código acá.

18- Testeá tu función con una lista de nuevos nombres y agregale algún elemento numérico.

In [ ]:
#Escribí código acá.

19- Corregí el siguiente código.

In [ ]:
numero_3 = [1,2,3,4,5,6,7,8,]

for numero in numero_3:
    print(numero*4

20- Corregí el siguiente diccionario:

In [ ]:
diccionario_1 = {persona:["Juan","Diego"],
                 edad:[22,34],
                 hijos:[Mariana,"Juana","Robertina"]}

21- Corregí la siguiente función. ¿Por qué pincha?


*Hint*: A veces en las discusiones, faltan argumentos..

In [ ]:
numero = [1,2,3,4,5,6,7,8,98,20,123,213,144,14,16,176]

def matematica ():
    for numero in lista:
        if numero < 10:
            print((numero+10)*2.5)
        elif 10 < numero < 20:
            print((numero+5)*1.5)
        else:
            print((numero+1)*0.5)

matematica(numero)

22- Ahora, en el mismo código, hay otro error. Esta vez de sintaxis.

In [ ]:
numero = [1,2,3,4,5,6,7,8,98,20,123,213,144,14,,176]

def matematica ():
    for numero in lista:
        if numero < 10:
            print((numero+10)*2.5)
        elif 10 < numero < 20:
            print((numero+5)*1.5)
        else:
            print((numero+1)*0.5)

matematica(numero)

23- Corregí el siguiente error:

*Hint*: Hay dos formas de solucionarlo, sacando o agregando creativamente.

In [ ]:
def operacion_suma(x,y,z):
    print((x+2)*y)

operacion_suma(23,22)

24- Acá hay varios errores, a corregirlos.

In [ ]:
def categorias(base):
  for columna in base:
    if base[columna].dtypes == "float64":
      pass
    elif base[columna].dtypes == "int": 
      pass
    else:
       print("Muestra de categorías de la columna",base[olumna].name.upper(),base[columna].uniqe().tolist()[0:5]"\n")
       
  print("De cada columna, muestra hasta 5 categorías de la variable")

categorias(data)

25- Importá la librería pandas.

In [ ]:
#Escribí código acá.

26- Traé los datos de la siguiente base de datos. 

*Listado de Universidades de la Ciudad* --> https://data.buenosaires.gob.ar/dataset/universidades

In [ ]:
#Escribí código acá.

27- ¿Qué forma tiene la tabla?

In [ ]:
#Escribí código acá.

28-¿Cuántas columnas tiene?

In [ ]:
#Escribí código acá.

29-¿Cuántas categorías hay por columna?

Por lo pronto, de las nominales.

In [ ]:
#Escribí código acá.

30 - La columna de nombre de universidades tiene un error. ¿Podés renombrarla correctamente?

In [ ]:
#Escribí código acá.

31-¿Podés generar una tabla que sólo tenga las universidades que pertenencen al barrio de Palermo?

In [ ]:
#Escribí código acá.

32- ¿Qué universidad aparece con mayor frecuencia?

In [ ]:
#Escribí código acá.

33- ¿Cuántas universidades tienen sede en la ciudad?

In [ ]:
#Escribí código acá.

34- ¿Cuántas universidades públicas y privadas hay?

In [ ]:
#Escribí código acá.

35-Generá dos listas que filtren por la condición pública o privada.

In [ ]:
#Escribí código acá.

36- Por último, genera un loop que imprima el nombre de la univesidad chequeando si es pública o privada.

*Hint*: for, if, == (mucho de lo que venimos aplicando hasta ahora).

In [ ]:
#Escribí código acá.